/* 
  Fonts used on the project.
  The body style attribute is used as fallback for the components.
  If not font is declared it will use Proxima Nova Regular
*/

@font-face {
  font-family: 'Proxima Nova Black';
  src: url(./proxima-nova-black.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(./proxima-nova-bold.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: url(./proxima-nova-extrabold.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(./proxima-nova-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url(./proxima-nova-thin.otf) format('opentype');
}

body {
  font-family: 'Proxima Nova Regular';
}
