/* Default styles for body */

html,
body {
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

body * {
  box-sizing: border-box;
  font-family: 'Proxima Nova Regular';
}
